/*==============================
    estilo geral site
================================*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  font-family: "Libertinus Mono", monospace;
 
}

h2.titulo{
    padding: 25px;
    color: #ffff;
    font-size: 38px;
    text-align: center;

}
h2.titulo span{
    color: #72c27d;
    
}


body{
    background-color: #1a1b1d;
    height: 100vh;

}

.interface{
    max-width: 1780px;
    margin: auto;

}

.flex{
    display: flex;
}

html {
  scroll-behavior: smooth;
}


/*==============================
    cabeçalho do site
================================*/

header{
    padding: 25px 5%;
    
}

header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;

}

header a{
    position: relative;
    color: #7d7d7d;
    text-decoration: none;
    display: inline-block;
    font-size: 1.3rem

   

}
header a:hover{
    transform: scaleY(1.2);
    color: #72c27f;   
    
}

header nav.menu-desktop a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0%;
  height: 2px;
  background-color: #72c27d;
  transition: width 0.8s ease;
}

header nav.menu-desktop a:hover::after {
  width: 65%;
}


header nav ul{
    list-style-type: none;

}

header nav.menu-desktop ul li{
    display: inline-block;
    padding: 0 40px;
}

/*==============================
    menu mobile
================================*/

.btn-abrir-menu i{
    color: #72c27f;
    font-size: 40px;
}

.menu-mobile{
    background-color: #1a1b1d;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99999;
    width: 0%;
    overflow: hidden;
    transition: .6s;

}

.menu-mobile.abrir-menu{
    width: 70%;
}

.menu-mobile.abrir-menu ~ .overlay-menu{
    display: block;
    
}

.menu-mobile .bt-fechar{
    padding: 20px 5%;

}

.menu-mobile .bt-fechar i{
    color: #72c27f;
    font-size: 30px;

}

.menu-mobile nav ul{
    text-align: right;
}

.menu-mobile nav ul li a{
    color: #ffff;
    font-size: 20px;
    font-weight: 300;
    padding: 20px 8%;
    display: block;

}

.menu-mobile nav ul li a:hover{
    color: #72c27d;
    

}

.overlay-menu{
    background-color: #1a1b1d73;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 88888;
    display: none;

}



/*==============================
    conteudo do topo site
================================*/

section.topo-do-site{
    padding: 40px 4%;
}

section.topo-do-site .flex{
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.topo-do-site h1{
    color: #ffff;
    font-size: 40px;
    line-height: 100px;
}
.topo-do-site .txt-topo-site span{
    color:#72c27f ;
    
}

.topo-do-site .txt-topo-site p{
    color: #ffff;
    margin: 40px 0;
    line-height: 1.5;
    text-align: justify;

    
}

.edd-contato button{
    background-color: #72c27f;
    padding: 15px 40px;
    font-size: 18px;
    font-weight: 500;
    border: 0;
    border-radius: 20px;
    cursor: pointer;
    transition: .6s;
}

.edd-contato button:hover{
    box-shadow: 0px 0px 8px;
    transform: scale(0.9);
}

.img-topo-do-site .foto{
    border: 0;
    border-radius: 80px;
    
}
.topo-do-site .img-topo-do-site img{
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;

}

@keyframes flutuar{
    0%{
        top: 0;
    }
    100%{
        top: 30px;
    }
}
.skills-icons {
  cursor: pointer;
  margin-top: 20px;
  font-size: 2rem;
}

.skills-icons i {
  margin: 0 10px;
  transition: transform 0.3s ease, color 0.3s ease;
}

.skills-icons i:hover {
  transform: scale(1.2);
}

/* Cores individuais */
.fa-html5 { color: #E34F26; }      /* HTML - laranja */
.fa-css3-alt { color: #1572B6; }   /* CSS - azul */
.fa-js { color: #F7DF1E; }         /* JavaScript - amarelo */
.fa-python { color: #3776AB; }     /* Python - azul */
.fa-php { color: #777BB4; }        /* PHP - roxo */
.fa-database { color: #00618A; }   /* MySQL - azul escuro */
.fa-linux { color: #FCC624; }      /* Linux - amarelo */
.fa-github { color: #fff; }     /* GitHub - preto */
.fa-shield-alt { color: #4CAF50; } /* Segurança - verde */

/*==============================
    minha especialidades
================================*/

section.especialidades{
    padding: 100px 4%;
    

}

section.especialidades .flex{
    gap: 40px;

}

.especialidades .especialidades-box{
    max-width: 550px;
    color: #ffff;
    padding: 40px;
    border-radius: 40px;
    border: 2px solid white;
    margin-top: 30px;
    transition: .6s;

}

.especialidades .especialidades-box:hover{
    transform: scale(1.05);
    box-shadow: 0 0 30px #72c27f78;

}

.especialidades .especialidades-box i{
    font-size: 80px;
    color: #72c27d;
    

}


.especialidades .especialidades-box h3{
    font-size: 28px;
    margin: 15px 0;


}

/*==============================
    conteudo sobre
================================*/

section.sobre{
    padding: 80px 4%;

}
.img-sobre img{
    border: 0;
    border-radius: 70px;
}

section.sobre .flex{
    align-items: center;
    gap: 60px;
}
.sobre .txt-sobre{
    color: #ffff;

}

.sobre .txt-sobre h2{
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 30px;
}

.sobre .txt-sobre h2 span{
    color: #72c27d;
    display: block;
}

.sobre .txt-sobre p{
    margin: 20px 0;
    text-align: justify;
}

 .edd-social button{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 0;
    background-color: #72c27d;
    font-size: 30px;
    cursor: pointer;
    margin: 0 5px;
    transition: 0.4s ease-in-out;
    
}
.edd-social button:hover {
    transform: scale(0.9);
    background-color: #72c27d84
}

/*==============================
PARTE DO PORTFOLIO / PROJETOS 
================================*/


.portfolio {
    padding: 0 25px;
    

}

.portfolio .interface {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 35px;
    justify-items: center;
    
}
.projeto-card {
    cursor: pointer;
    background-color: #1e1e1e;
    border-radius: 15px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(114, 194, 1125, 0.3);
    transform: scale(0.9);
    transition: 0.6s ease;

}

.projeto-card:hover{
    transform: translateY(-20px);
    color: #fff;
}

.projeto-card img {
    text-align: center;
    width: 50%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 50px;
    transition: 0.9s ease-in-out;
    
}

.projeto-card img:hover {
    width: 85%;
}

.botoes {

    justify-content: center;
    gap: 10px;
    margin-top: 10px;
    transition: 0.8s ease-in-out;
}

.botoes a {
    display: inline-block;
    margin: 5px;
    padding: 8px 15px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;

}
.projeto-card i:hover {
    transform: scale(1.3);
}
.projeto-card a:hover {
    transform: scale(0.85);
}

.btn-github {
    background-color: #fff;
    color: #000;

}

.btn-site {
    background-color: #72c27d;
    color: #000;
}

.projeto-card p {
    margin-bottom: 2rem;
    line-height: 1.3;
    padding-bottom: 1rem;
    color: #ffffff31;
}

.projeto-card p:hover {
    color: #fff;
}


.projeto-card h3 {
    padding: 10px;
    margin: 5px;
    color: #72c27d;
}

.projeto-card i {
    font-size: 1.4rem;
}





/*==============================
    estilo rodapé / footer
================================*/

footer{
    padding: 60px 4%;
    

}

footer .flex{
    justify-content: space-between;
}

footer .line-footer{
    padding: 20px 0;
    
}

.borda{
    border-top: 2px solid #72c27f;
}

footer .line-footer p i{
    color: #72c27d;
    font-size: 40px;
    
}

footer .line-footer p a{
    color: #ffff;

}



/*==============================
    APLICANDO RESPONSIVIDADE
================================*/

@media screen and (max-width: 1020px){
    /* classes gerais */
    .flex{
        flex-direction: column;

    }
    h2.titulo{
        font-size: 34px;
        line-height: 30px;
    }

    .topo-do-site .flex{
        flex-direction: column-reverse;
    }

    /* cabeçalho */
    .menu-desktop{
        display: none;
    }
    /* topo do site */
    section.topo-do-site .flex{
        gap: 40px;

    }

    

    section.topo-do-site{
        padding: 20px 8%;
    }

    .topo-do-site h1{
        font-size: 30px;

    }

    .topo-do-site .img-topo-site img{
        width: 100%;
    }

    /* especialidade */
    section.especialidade{
        padding: 40px 8%;
    }
    /* sobre */
    section.sobre{
        padding: 80px 8%;

    }

    .sobre .txt-sobre h2{
        font-size: 34px;
        line-height: 35px;
        text-align: center;
    }

    .edd-social{
        text-align: center;
    }http://127.0.0.1:5500/index.html

    .img-sobre img{
        width: 100%;
    }
    /*  portfolio */
     
    
    /* rodape */
    footer .flex{
        flex-direction: column;
        
    }

    footer .line-footer{
        text-align: center;
    }

    
}

@media screen and (max-width: 1020px) {
  section.portfolio .interface {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
  }

  section.portfolio .projeto-card {
    line-height: normal;
    width: 100%;
    max-width: 90%;
    margin: 0 auto 20px; /* centraliza e dá espaço entre os cards */
  }

  .projeto-card img {
    width: 95%;
  }

  .projeto-card p {
    display: none;
  }
}
